/aggregateimp.csv
/average_normalized_scores.csv
/entropy_weights.csv
/entropy_weights_confidence_intervals.csv
/hospital_impact_comparison_reference.png
/percentage_change_relative_to_baseline.csv
/reference_df.csv
/scenario_results.csv
/scenario_results_Reference.csv
/scenario_results_S1.csv
/scenario_results_S2.csv
/scenario_results_S3.csv
/scenario_results_S4.csv
/scenario_results_Worst.csv
/sensitivity_Autoclave.pdf
/sensitivity_ChemDisinfection.pdf
/sensitivity_Incineration.pdf
/sensitivity_Landfill.pdf
/sensitivity_Microwave.pdf
/sensitivity_Pyrolysis.pdf
/sensivity.py
/topsis_confidence_intervals.csv
/topsis_rankings.csv
# Python artifacts
__pycache__/
*.py[cod]
*.so
*.egg-info/
.ipynb_checkpoints/
.env
.venv/
venv/
